body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100px;
}

.hero {
    background-image: url("images/back.jpg");
    background-size: cover;
    height: 600px;
}

.hero-text {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero-visit {
    background: #1D3557;
    padding: 5px 10px;
    border-radius: 10px;
    color: #A8DADC;
    margin-bottom: 0;
}

#hero-enjoy {
    background: #1D3557;
    padding: 5px 10px;
    border-radius: 10px;
    color: #A8DADC;
    margin-top: 20px;
}



.activity {
    background-color: #F1FAEE;
    padding: 15px 80px;
    height: 400px;
}

.activity h3 {
    font-size: 30px;
}

.activities {
    display: flex;
    justify-content: space-around;
}

.activity-item {
    margin: 0 5px;
}

.activity img {
    width: 150px;
    border-radius: 100px;
}

.activity-item p {
    width: 160px;
    font-size: 23px;
}



.guide {
    background-color: #A8DADC;
    margin: 100px auto;
    width: 650px;
    height: 400px;
    border-bottom: 5px solid #1D3557;
    display: flex;
}

.guide img {
    width: 250px;
    height: 250px;
    margin: 75px 57px 0 35px;
}

.guide-text {
    width: 250px;
    margin: auto 0;
}

.guide p {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 20px;
}

.guide h3 {
    font-size: 40px;
}

.guide h4 {
    font-size: 25px;
}