html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #121212;
}



#header {
    background-image: url("images/header-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 208px;
    padding: 0 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header h1,
#header a {
    color: #fff;
    text-shadow: 0 0 15px #121212;
}
#header h1 {
    font-size: 28px;
    font-weight: 800;
    margin: 0;
}
#header a,
#not-found a,
#not-found-wl a {
    font-size: 10px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}



#search-bar {
    margin: -34px auto;
    width: 80%;
    position: relative;
    display: flex;
    gap: 0;
}
#search-bar button,
#search-bar input {
    margin: 0;
    border: none;
    font-size: 18px;
    font-weight: 500;
}
#search-bar button {
    height: 40px;
    width: 23%;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    background-color: #4B4B4B;
    font-size: 12px;
}
#search-bar input {
    height: 40px;
    padding: 0 5px;
    width: 70%;
    color: #A5A5A5;
    background-color: #2E2E2F;
}
#search-bar img {
    margin: 0;
    padding-left: 2px;
    background-color: #2E2E2F;
    height: 40px;
    width: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


#start,
#not-found,
#not-found-wl {
    margin: 80px 0;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#start {
    top: 35%;
}
#not-found,
#not-found-wl {
    width: 85%;
    top: 42%;
}
#start img {
    width: 150px;
}
#start h4,
#not-found h4,
#not-found-wl h4 {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
    color: #2E2E2F;
}
#not-found h4,
#not-found-wl h4 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 25px;
}




#results,
#WatchList-results {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    border: none;
}

.results {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    color: #fff;
    border-bottom: 2px solid #A5A5A5;
}


.poster { 
    width: 89px;
    height: 120px;
}
.texts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.texts p,
.texts h2{
    margin: 0;
}


.results-lines {
    display: flex;
    align-items: baseline;
    font-size: 12px;
    padding-left: 20px;
}
.results-desc { 
    color: #A5A5A5;
    font-size: 14px;
}

.results-lines h2 {
    font-size: 18px;
    font-weight: 500;
}
.results-lines img,
a img{
    width: 10px;
}

.second-results-lines button,
#not-found a,
#not-found-wl a{ 
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
}


.first-results-lines {  
    gap: 5px;
}
.second-results-lines { 
    margin-top: 15px;
    flex-direction: column;
    gap: 8px;
}
.results-desc {
    margin: 30px 0;
    padding: 0;
    margin-left: -89px;
    width: 320px;
}


div:last-child {
    border: none;
} 



.hidden {
    display: none;
}



@media screen and (min-width: 550px){
    #header {
        height: 350px;
        padding: 0 90px;
    }
    #header h1 {
        font-size: 48px;
    }
    #header a,
    #not-found a {
        font-size: 20px;
    }
    
    
    #search-bar {
        width: 85%;
    }
    #search-bar button,
    #search-bar input,
    #search-bar img {
        height: 60px;
    }
    #search-bar button {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        font-size: 22px;
    }
    #search-bar input {
        font-size: 25px;
        padding: 0 12px;
    }
    #search-bar img {
        padding-left: 8px;
        width: 60px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    
    
    #start,
    #not-found,
    #not-found-wl {
        margin: 230px 0;
    }
    #not-found {
        top: 45%;
    }
    #not-found-wl {
        top: 35%;
    }
    
    #results {
        margin: 40px auto;
    }
    
    .poster {                   /* film poster */
        width: 150px;
        height: max-content;
    }
    .results-lines {           /* film info */
        font-size: 16px;
        padding-left: 40px;
    }
    .results-desc {            /* film description */
        font-size: 18px;
    }    
    .results-lines h2 {        /* film name */
        font-size: 25px;
    }
    button img,
    a img{                      /* star & add img */ 
        width: 15px;
    }
    
    .second-results-lines button,
    #not-found a,
    #not-found-wl a {          /* add to watchList btn */
        font-size: 16px;
    }
    
    
    .first-results-lines img {    /* first line of film description */
        padding-left: 20px;
    }
    .second-results-lines {   /* second line of film description */
        margin: 0;
        flex-direction: row;
        gap: 35px;
    }
    .results-desc {
        padding: 0 40px;
        margin-left: 0;
        width: auto;
    }
}
